.content {
  position: relative;
  width: 224px;
  // height: fit-content;
  height: 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 14px 20px 26px 20px;
  transition: height 0.2s ease-in-out;
  &.witch-palettes {
    height: 320px;
  }
  &.palette-hidden {
    height: 220px;
  }

  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    user-select: none;
  }

  .canvasBox {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    .paletteWrap,
    .colorWrap,
    .fillWrap {
      position: relative;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      font-size: 0;
      background: repeating-conic-gradient(
          rgb(209, 209, 209) 0deg,
          rgb(209, 209, 209) 25%,
          rgba(0, 0, 0, 0) 0deg,
          rgba(0, 0, 0, 0) 50%
        )
        50% center / 6px 6px;
      &:hover .thumb-wrap .thumb {
        box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px rgba(0, 0, 0, 0.4),
          0 1px 3px rgba(0, 0, 0, 0.4);
      }
      .thumb-wrap {
        width: 0;
        height: 0;
        cursor: all-scroll;
        will-change: transform;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 1px;
        top: 1px;
        transition: transform 0.04s ease-in-out;
        .thumb {
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 10px;
          box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px rgba(0, 0, 0, 0.16),
            0 1px 3px rgba(0, 0, 0, 0.4);
          transition: box-shadow 0.1s ease-in-out, background 0.04s ease-in-out;
        }
      }
      .canvas {
        border-radius: 6px;
        cursor: crosshair;
      }
    }
    .colorWrap,
    .fillWrap {
      position: relative;
      display: flex;
      align-items: center;
      .thumb-wrap {
        top: unset;
        cursor: ew-resize;
      }
    }
    .fillWrap {
      .thumb {
        background: #fff;
      }
    }
  }

  .btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .btn-wrap {
      display: flex;
      gap: 12px;
    }

    .color-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      .select-box {
        display: flex;
        gap: 4px;
        font-size: 14px;
        .color-format {
          height: 18px;
          font-size: inherit;
          user-select: none;
          border: unset;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
          border-radius: 3px;
          margin: 1px;
        }
        .alpha {
          width: 18px;
          height: 18px;
          color: #a1a1a1;
          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: none;
          font-size: inherit;
          transition: all 0.1s ease-in-out;
          user-select: none;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
          border-radius: 3px;
          margin: 1px;
          &.active {
            color: #ffffff;
            background: #50d900;
          }
        }
      }
      .color-box {
        font-size: 10px;
        cursor: auto;
        line-height: 10px;
      }
    }
  }

  .storage-box {
    width: 220px;
    position: absolute;
    bottom: 26px;
    width: calc(100% - 40px);
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out 0.2s 1 forwards;
    &:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 6px;
      width: calc(100% - 2px);
      height: 60px;
      border-radius: 0 0 10px 0;
      box-shadow: unset;
      margin: unset;
      margin-top: 17px;
      border: 0;
      border-right: 1px;
      border-bottom: 1px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.2);
    }
    &.empty {
      &:before {
        margin: unset;
        height: 16px;
        border-radius: 0 0 14px 0;
      }
      &:active {
        transform: scale(0.98);
      }
      .container {
        width: 100%;

        .menu-wrap {
          margin: unset;
          width: 100%;
        }
      }
    }
    .container {
      width: fit-content;
      .menu-wrap {
        display: flex;
        width: calc(100% - 12px);
        position: relative;
        margin: auto;
        .menu {
          background: linear-gradient(#ffffff 0, #ebebeb 100%);
          font-size: 0;
          width: fit-content;
          max-width: calc(100% - 80px);
          padding-top: 2px;
          position: relative;
          border-radius: 6px 6px 0 0;
          margin: 0 calc(0.5rem - 2px) -1px calc(0.5rem - 2px);
          color: #000;
          z-index: 1;
          box-shadow: 0 -1px 0 #d1d1d1;
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 0.5rem;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            z-index: -1;
            background: inherit;
          }
          &:before {
            left: 2px;
            transform: translateX(-50%) skewX(-16deg);
            border-radius: 5px 0 0 0;
            box-shadow: -1px -1px 0 #d1d1d1;
          }
          &:after {
            right: 2px;
            transform: translateX(50%) skewX(16deg);
            border-radius: 0 5px 0 0;
            box-shadow: 1px -1px 0 #d1d1d1;
          }
          .palette-select {
            position: relative;
            top: -1px;
            border: unset;
            background: none;
            font-size: 12px;
            color: inherit;
            user-select: none;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-shadow: 0 0.5px 0.5px #fff;
          }
          .palette-input {
            position: absolute;
            left: 0;
            top: 0;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            opacity: 0;
            pointer-events: none;
            cursor: pointer;
            font-size: 12px;
            border-radius: 5px;
            border: 1px solid #858585;
            padding: 2px 3px;
            opacity: 0;
            &:focus {
              outline: none;
              opacity: 1;
              pointer-events: all;
              animation: fadeInOpacity 0.1s ease-in-out 0s 1 forwards;
            }
          }
        }
      }

      .scroll-wrap {
        background: #f6f6f6;
        width: 220px;
        height: 62px;
        position: relative;
        will-change: width;
        transition: width 0.08s ease-in-out;
        border-radius: 6px;
        .scroll {
          width: calc(100% - 6px);
          height: 100%;
          z-index: 0;
          border-radius: 6px 0 0 6px;
          .ms-edge {
            z-index: -1;
            background: linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.06) 0,
              transparent 100%
            );
            &.left {
              border-radius: 6px 0 0 6px;
            }
          }

          .color-scroll {
            box-shadow: inset 1px 0 0 #d1d1d1, inset 0 1px 0 #d1d1d1,
              inset 0 -1px 0 #d1d1d1;
            border-radius: 6px 0 0 6px;
            animation: fadeInColorScroll 0.2s ease-in-out 0s 1 forwards;
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .content {
    .canvasBox {
      .paletteWrap,
      .colorWrap,
      .fillWrap {
        &:hover .thumb-wrap .thumb {
          box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px rgba(0, 0, 0, 0.4),
            0 1px 3px rgba(0, 0, 0, 0.4);
        }
        .thumb-wrap {
          .thumb {
            box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px rgba(0, 0, 0, 0.16),
              0 1px 3px rgba(0, 0, 0, 0.4);
          }
        }
      }
      .fillWrap {
        background: repeating-conic-gradient(
            rgba(255, 255, 255, 0.3) 0deg,
            rgba(255, 255, 255, 0.3) 25%,
            #000000 0deg,
            #000000 50%
          )
          50% center / 6px 6px;
        .thumb {
          background: #fff;
        }
      }
    }

    .btn-box {
      .color-wrap {
        .select-box {
          .color-format {
            background: rgba(255, 255, 255, 0.08);
            box-shadow: 0 0 0 1px #575757;
            &:hover {
              background: rgba(255, 255, 255, 0.12);
            }
          }
          .alpha {
            box-shadow: 0 0 0 1px #575757;
            color: #a1a1a1;
            &.active {
              color: #3b3b3b;
            }
          }
        }
      }
    }

    .storage-box {
      &:before {
        border-color: #575757;
        filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.16));
      }
      .container {
        .menu-wrap {
          .menu {
            background: linear-gradient(#474747 0, #575757 100%);
            color: #ffffff;
            box-shadow: 0 -1px 0 #575757, 0 -2px 0 #2f2f2f;
            &:before {
              box-shadow: -1px -1px 0 #575757, -2px -2px 0 #2f2f2f;
            }
            &:after {
              box-shadow: 1px -1px 0 #575757, 2px -2px 0 #2f2f2f;
            }
            &:hover {
              filter: brightness(1.1);
            }
            .palette-select {
              text-shadow: 0 0.5px 0.5px #000000;
            }
          }
        }

        .scroll-wrap {
          background: #464646;
          .scroll {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.16);
            .ms-edge {
              background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.14) 0,
                transparent 100%
              );
            }

            .color-scroll {
              box-shadow: inset 1px 0 0 #575757, inset 0 1px 0 #575757,
                inset 0 -1px 0 #575757;
            }
          }
        }
      }
    }
  }
}
