.content {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: auto;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 14px 24px 24px 24px;
  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #4d4d4d;
  }

  .canvasBox {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    .paletteWrap,
    .colorWrap,
    .fillWrap {
      position: relative;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.16);
      border-radius: 6px;
      font-size: 0;
      &:hover .thumb-wrap .thumb {
        box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px rgba(0, 0, 0, 0.4),
          0 1px 3px rgba(0, 0, 0, 0.4);
      }
      .thumb-wrap {
        width: 0;
        height: 0;
        cursor: all-scroll;
        will-change: transform;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 1px;
        top: 1px;
        .thumb {
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 10px;
          box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px rgba(0, 0, 0, 0.16),
            0 1px 3px rgba(0, 0, 0, 0.4);
          transition: box-shadow 0.1s ease-in-out;
        }
      }
      .canvas {
        border-radius: 6px;
        cursor: crosshair;
      }
    }
    .colorWrap,
    .fillWrap {
      position: relative;
      display: flex;
      align-items: center;
      .thumb-wrap {
        top: unset;
        cursor: ew-resize;
      }
    }
    .fillWrap {
      background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
        linear-gradient(-45deg, #808080 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #808080 75%),
        linear-gradient(-45deg, transparent 75%, #808080 75%);

      background-size: 20px 20px;
      background-position: 0 0, 10px 0, 10px -10px, 0px 10px;
      .thumb {
        background: #fff;
      }
    }
  }

  .btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .btn-wrap {
      display: flex;
      gap: 12px;
    }

    .color-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      .select-box {
        display: flex;
        gap: 4px;
        font-size: 14px;
        .color-format {
          height: 20px;
          font-size: inherit;
          cursor: pointer;
        }
        .alpha {
          width: 20px;
          height: 20px;
          box-shadow: inset 0 0 0 1px #a1a1a1;
          color: #a1a1a1;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: none;
          font-size: inherit;
          transition: all 0.1s ease-in-out;
          &.active {
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.16);
            color: #ffffff;
            background: #50d900;
          }
        }
      }
      .color-box {
        font-size: 9px;
        cursor: auto;
      }
    }
  }

  .storage-box {
    width: 220px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 6px;
      width: calc(100% - 2px);
      height: 58px;
      border-radius: 0 0 10px 0;
      box-shadow: unset;
      margin: unset;
      margin-top: 17px;
      border: 0;
      border-right: 1px;
      border-bottom: 1px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.16);
    }
    .container {
      width: fit-content;
      .menu-wrap {
        display: flex;
        width: calc(100% - 12px);
        position: relative;
        margin: auto;
        .menu {
          background: linear-gradient(#f9f9f9 0, #ebebeb 100%);
          font-size: 0;
          width: fit-content;
          padding: 2px 0;
          position: relative;
          border-radius: 6px 6px 0 0;
          margin: 0 calc(0.5rem - 2px);
          color: #000;
          z-index: 1;
          box-shadow: 0 -1px 0 #d1d1d1;
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 0.5rem;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            z-index: -1;
            background: inherit;
          }
          &:before {
            left: 2px;
            transform: translateX(-50%) skewX(-16deg);
            border-radius: 5px 0 0 0;
            box-shadow: -1px -1px 0 #d1d1d1;
          }
          &:after {
            right: 2px;
            transform: translateX(50%) skewX(16deg);
            border-radius: 0 5px 0 0;
            box-shadow: 1px -1px 0 #d1d1d1;
          }
          select {
            border: unset;
            background: none;
            font-size: 10px;
            color: #000;
          }
        }
      }

      .scroll-wrap {
        width: 214px;
        height: 60px;
        background: #f9f9f9;
        box-shadow: 0 0 0 1px #d1d1d1;
        border-radius: 6px;
        padding-right: 6px;
        position: relative;
      }
    }
  }
}
