.svgIcon {
  height: calc(100% - 4px);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  pointer-events: none;
  svg {
    fill: none;
    width: 100%;
    aspect-ratio: 1;
    .svgLine {
      stroke: #4d4d4d;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 4px;
      transition: all 0.05s ease-in-out;
    }
  }
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(#fff, #f5f5f5);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.16),
    0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.05s ease-in-out;
  z-index: 0;
  &:hover {
    background: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.4),
      0 1px 3px rgba(0, 0, 0, 0.4);
    &.copy .svgIcon {
      opacity: 1;
      transform: scale(1);
    }
    .text {
      color: #213547;
    }
    .svgIcon svg .svgLine {
      stroke: #213547;
    }
  }
  &.active,
  &:active {
    background: #f5f5f5;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.4);
    height: 40px;
    .btn-bg,
    .svgIcon,
    .text {
      translate: 0 0.5px;
    }
  }

  .btn-bg {
    position: absolute;
    width: calc(100% - 6px);
    aspect-ratio: 1;
    border-radius: 40px;
    margin: auto;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
  .svgIcon,
  .text {
    z-index: 1;
  }
  .text {
    font-size: 10px;
    text-transform: uppercase;
    color: #4d4d4d;
  }

  .svgIcon svg .svgLine {
    stroke: #4d4d4d;
  }

  &.copy {
    transform: scaleX(-1);
    .svgIcon {
      background: rgba(0, 0, 0, 0.4);
      border-radius: 40px;
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.05s ease-in-out;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
      .svgLine {
        stroke: #fff;
      }
    }
  }

  &.copied .svgIcon svg {
    animation: bouncing 0.3s ease-in-out 0s 1 forwards;
  }

  &.menu-btn {
    width: 16px;
    height: 16px;
    margin: 1px 2px;
    cursor: pointer;
    box-shadow: unset;
    background: none;
    &:hover {
      .svgIcon {
        .svgLine {
          stroke: #000;
        }
      }
    }
    &.text {
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      user-select: none;
      background: unset;
      box-shadow: unset;
      .text {
        font-size: 11px;
      }
    }
    .svgIcon {
      height: 100%;
      border-radius: 20px;
      .svgLine {
        stroke-width: 6px;
      }
    }
  }

  &.drag {
    position: absolute;
    right: 0;
    top: 0;
    cursor: ew-resize;
    height: 100%;
    width: 6px;
    border-radius: 0 6px 6px 0;
    background: #d1d1d1;
    box-shadow: unset;
    margin: unset;
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      top: 1px;
      width: 1px;
      height: calc(100% - 2px);
      background: #ffffff;
    }
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 10px;
      height: 100%;
    }
    &:hover {
      background: #afafaf;
    }
    .svgIcon {
      height: fit-content;
      display: flex;
      .svgLine {
        stroke: #ffffff;
        stroke-width: 16px;
      }
    }
  }

  &.storage-btn {
    width: 30px;
    height: 30px;
    cursor: grab;
    z-index: unset;
    &:active {
      cursor: grabbing;
    }
    &.add-color,
    &.default {
      background: unset;
      box-shadow: unset;
      border: 1px rgba(0, 0, 0, 0.3) dashed;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
        .svgLine {
          stroke: #676767;
        }
      }
      .svgLine {
        stroke: #969696;
      }
    }
    &.add-color {
      cursor: pointer;
      &.failed {
        background: rgba(255, 0, 0, 0.2);
        border: 1px #ff0000 dashed;
        cursor: not-allowed;
        .svgLine {
          stroke: #ff0000;
          animation: bouncing 0.3s ease-in-out 0s 1 forwards;
        }
      }
      .svgLine {
        stroke-width: 5px;
      }
    }
    &.default {
      border: 1px rgba(0, 0, 0, 0.2) dashed;
      pointer-events: none;
    }
    &.active {
      box-shadow: 0 0 0 1px #b5b5b5, 0 0 0 3px #d4d4d4, 0 0 0 4px #bababa,
        0 1px 3px rgba(0, 0, 0, 0.5);
    }
    &.dragEnter {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12),
        0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.4);
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 10px);
        aspect-ratio: 1 / 1;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
        border-radius: 24%;
        z-index: -1;
        animation: fadeInOpacity 0.1s ease-in-out 0s 1 forwards;
      }
    }
    &.alpha {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: repeating-conic-gradient(#d6d6d6 0 25%, #fff 0 50%) 50% /
          6px 6px;
        border-radius: 50%;
        clip-path: polygon(100% 30%, 30% 100%, 100% 100%);
      }
    }
  }

  &.clear-btn {
    position: absolute;
    right: 1px;
    bottom: 1px;
    height: 60px;
    width: 34px;
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: scale(0.8) translateX(10px);
    transition: all 0.2s ease-in-out, width 0.1s ease-in-out;
    pointer-events: none;
    &:hover,
    &.onDragEnter {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12),
        0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.4);
      .svgLine {
        .cap {
          transform: translate(16px, -20px) rotate(20deg);
        }
      }
    }
    &.onClick,
    &:active {
      box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.2),
        0 0 0 1px rgba(0, 0, 0, 0.4);
      .svgLine {
        .cap {
          transform: translate(16px, -26px) rotate(20deg);
        }
      }
    }
    &.view {
      opacity: 1;
      transform: unset;
      pointer-events: all;
    }
    .svgIcon {
      max-width: 34px;
    }
    .svgLine {
      stroke: #ff7171;
      .cap {
        transition: all 0.1s ease-in-out;
      }
    }
  }

  &.sign {
    right: 12px;
  }

  &.palette {
    left: 12px;
    &:after {
      content: "";
      position: absolute;
      top: 24%;
      left: 76%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 1.5px;
      height: calc(100% - 30px);
      aspect-ratio: 1 / 1;
      background: #4d4d4d;
      border-radius: 2px;
      z-index: 1;
      box-shadow: 1.6px 0 0 #f6f6f6;
      transition: all 0.1s ease-in-out;
    }
    &.active {
      &:after {
        top: 50%;
        left: 50%;
        height: calc(100% - 6px);
      }
      .svgIcon {
        translate: unset;
      }
    }
    &:hover {
      &:after {
        background: #213547;
        box-shadow: 1.6px 0 0 #e8e8e8;
      }
    }
  }

  &.picker {
    &.active {
      .svgLine {
        stroke: #00a1ff;
      }
    }
  }

  &.header-btn {
    position: absolute;
    top: 8px;
    width: 30px;
    height: 30px;
    svg {
      transform: scale(1.2);
    }
    &:hover {
      svg .svgLine {
        stroke: #213547;
      }
    }
  }

  &.flat {
    background: unset;
    box-shadow: unset;
    &:hover {
      background: #e8e8e8;
    }
  }

  &.disabled {
    filter: grayscale(0.8) opacity(0.8);
  }

  &.exit-btn {
    width: 100%;
    .text {
      font-size: 14px;
    }
    .svgIcon .arrow {
      transform: scaleX(-1) translateX(-62px);
    }
  }

  &.loader {
    pointer-events: none;
    cursor: not-allowed;
  }
}

#loader {
  path {
    animation: fade 1.2s linear infinite;
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: #{-($i - 1) * 0.1s};
      }
    }
  }
}

.empty {
  .btn {
    &.menu-btn {
      width: 100%;
      background: rgba(0, 0, 0, 0.04);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      &:hover {
        background: rgba(0, 0, 0, 0.06);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        .svgIcon {
          .svgLine {
            stroke: #000;
          }
        }
      }
    }
  }
}

.palette-scroll {
  .ms-bar {
    translate: 0 -4px;
  }
}
.ms-bar {
  .scroll-thumb {
    width: 2px;
    height: 100%;
    border-radius: 2px;
    background: #b1b1b1;
    transition: all 0.1s ease-in-out;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 8px);
      height: calc(100% + 8px);
    }
    &:hover {
      background: #bdbdbd;
    }
    &:active {
      width: 3px;
      margin-left: -0.5px;
      background: #7c7c7c;
      cursor: grabbing;
    }
  }
}

.link {
  color: #007aff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

html[data-theme="dark"] {
  .svgIcon {
    svg {
      .svgLine {
        stroke: #dfdfdf;
        filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.8));
      }
    }
  }

  .btn {
    background: linear-gradient(#727272, #4d4d4d);
    &:hover {
      background: linear-gradient(#7d7d7d, #555555);
    }
    &.active,
    &:active {
      background: linear-gradient(#4e4e4e);
    }
    .btn-bg {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }
    &.clear-btn {
      &:active {
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.2),
          0 0 0 1px rgba(0, 0, 0, 0.4);
      }
    }
    &.menu-btn {
      &:hover,
      &:active {
        background: unset;
        box-shadow: unset;
        .svgIcon svg .svgLine {
          stroke: #ffffff;
        }
        .text {
          color: #ffffff;
        }
      }
    }
    &.drag {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12),
        0 0 0 1px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.3);
      background: #575757;
      &:before {
        content: unset;
      }
      &:hover {
        background: #6b6b6b;
      }
    }

    &.storage-btn {
      &.add-color,
      &.default {
        border: 1px rgba(255, 255, 255, 0.3) dashed;
        &:hover {
          .svgLine {
            stroke: #ffffff;
            filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.8));
          }
        }
      }
      &.default {
        border: 1px rgba(255, 255, 255, 0.1) dashed;
      }
      &.add-color {
        &.failed {
          background: rgba(255, 0, 0, 0.1);
          border: 1px #ff0000 dashed;
          .svgLine {
            stroke: #ff0000;
          }
        }
      }
      &.active {
        box-shadow: 0 0 0 3px #323232, 0 0 0 4px #cbcbcb,
          0 1px 3px rgba(0, 0, 0, 0.5);
      }
      &.dragEnter {
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12),
          0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.4);
        &:before {
          box-shadow: inset 0 0 0 1px #cbcbcb;
          background: #323232;
        }
      }
      &.alpha {
        &:after {
          background: repeating-conic-gradient(#000000 0 25%, #737373 0 50%) 50% /
            6px 6px;
        }
      }
    }
  }
  .empty {
    .btn {
      &.menu-btn {
        background: linear-gradient(#727272, #4d4d4d);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        &:hover {
          background: linear-gradient(#7d7d7d, #555555);
          .svgIcon svg .svgLine {
            stroke: #ffffff;
          }
        }
      }
    }
  }

  .ms-bar {
    .scroll-thumb {
      background: #6a6a6a;
      // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      &:hover {
        background: #7f7f7f;
      }
      &:active {
        background: #909090;
      }
    }
  }
}
