.popup-window,
.clarification-window {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  z-index: 0;
  pointer-events: none;
  padding: 20px;
  &.opening {
    animation: fadeIn 0.2s ease-in-out 0s 1 forwards;
  }
  &.closing {
    animation: fadeOut 0.2s ease-in-out 0s 1 forwards;
  }

  > * {
    pointer-events: all;
  }

  .popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.6);
    backdrop-filter: blur(30px);
    z-index: 0;
  }

  .popup-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // height: 258px;
    &.notif {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 64%;
      text-align: center;
      gap: unset;
      .notif-text {
        font-size: 18px;
        line-height: 1.5em;
        font-weight: 600;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
      }
    }

    .popup-title {
      font-size: 28px;
      font-weight: 600;
      line-height: 0.8em;
      &.small {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .popup-text {
      font-size: 14px;
      line-height: 1.3em;
      &.bold {
        font-weight: 600;
      }
      &.small {
        margin-top: 6px;
        font-size: 11px;
        opacity: 0.8;
      }
      .btn {
        margin-top: 1px;
      }
    }
    .text-box {
      padding: 4px 0;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        transform: translateY(50%);
        background: rgba(0, 0, 0, 0.1);
        filter: drop-shadow(0 1px 1px #fff);
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
    .popup-title,
    .popup-text {
      filter: drop-shadow(0 1px 1px #fff);
    }

    .input-wrap {
      position: relative;
      &:after {
        content: "!";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 6px;
        right: 3px;
        background: #ff4d4d;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
      &.invalid {
        &:after {
          opacity: 1;
        }
        .popup-input {
          border: 1px solid #ff4d4d;
          animation: bouncing 0.2s ease-in-out 0s 1 forwards;
        }
      }
      .popup-input {
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        padding: 2px 4px;
        width: calc(100% - 10px);
        background: rgba(255, 255, 255, 0.8);
        &:hover {
          background: rgba(255, 255, 255, 1);
        }
        &:focus {
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          outline: none;
        }
      }
    }

    .popup-contentBox {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      .contentWrap {
        .contentBox {
          background: #f5f5f5;
          border-radius: 14px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          padding: 4px 10px;
          .theme-color {
            height: 18px;
            font-size: 14px;
            user-select: none;
            border: unset;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            margin: 6px 0;
          }
        }
      }
    }
  }
}

.clarification-window {
  .popup-bg {
    background: none;
    backdrop-filter: blur(10px);
  }
  .clarification-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    padding: 16px;
    background: #f5f5f5;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 12px;
    .clarification-text {
      font-size: 15px;
      line-height: 1.4em;
      text-align: center;
      filter: drop-shadow(0 1px 1px #fff);
    }
    .btn-box {
      .btn {
        width: 72px;
        transition: width 0.2s ease-in-out;
        .text {
          font-size: 12px;
        }
        &.loader {
          width: 100%;
        }
      }
    }
  }
}

.btn {
  &.close-btn {
    box-shadow: unset;
    background: none;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    right: 12px;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1));
    &:hover {
      .svgLine {
        stroke: #000;
      }
    }
    &:active {
      transform: scale(0.9) rotate(45deg);
    }
  }

  &.restore-btn {
    width: auto;
    height: auto;
    background: #f5f5f5;
    padding: 2px 5px;
    float: right;
    .text {
      font-size: 10px;
      color: #0400ff;
    }
  }

  &.popup-btn {
    width: auto;
    background: linear-gradient(#e1ffea, #93e1da);
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    .text {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
    }
  }
}

.settings-scroll {
  .ms-bar {
    translate: -6px 0;
  }
}

html[data-theme="dark"] {
  .popup-window,
  .clarification-window {
    .popup-bg {
      background: rgba(0, 0, 0, 0.6);
    }

    .purchase-content {
      .popup-title,
      .popup-text {
        filter: drop-shadow(0 1px 1px #000000);
      }

      .input-wrap {
        .popup-input {
          border: 1px solid rgba(255, 255, 255, 0.4);
          background: rgba(0, 0, 0, 1);
          &:hover {
            border: 1px solid rgba(255, 255, 255, 0.6);
            background: rgba(0, 0, 0, 1);
          }
          &:focus {
            background: rgba(0, 0, 0, 1);
            border: 1px solid rgba(255, 255, 255, 0.6);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
