body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  line-height: inherit;
}

:root {
  color-scheme: light dark;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #213547;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

html[data-theme="dark"] {
  color: #ffffff;
  background-color: #383838;
}
